<header class="relative flex h-screen mb-12 overflow-hidden">
    <div class="container relative w-screen">


        <div class="text-container w-full z-40">
            <div>#disiplin</div>
            <div>#takım ruhu</div>
            <div>#rekabet</div>
            <div>#başarı</div>
            <div>#çalışma</div>
            <div>#gelecek</div>
            <div>#özgüven</div>
            <div>#antrenman</div>
        </div>

    </div>
    <div id="logo" class=" absolute inset-0 flex justify-center pt-24 z-10">
        <img class="h-2/5 opacity-40 rounded-3xl animate-pulse " src="/media/logo.jpeg" alt="">

    </div>

    <video video muted loop autoplay playsinline preload="auto" 
        class="absolute  max-w-none -translate-y-52 -translate-x-2/4 lg:translate-x-0">
        <source src="/media/video1.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
</header>