{% load static %}


<section class="pb-20 bg-gradient-to-t from-gray-100 via-gray-200 to-gray-300 -mt-[300px]">



    <div class="container mx-auto px-4">

        <div class="flex flex-wrap">
            {% for brans in brans_list %}
            {% if forloop.counter == 2 %}
            <div class=" brans__card w-full md:w-4/12 px-4 text-center">
                {% else %}
                <div class="brans__card lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                    {% endif %}
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto">

                            <img class="inline-flex items-center justify-center w-16 h-16 mb-5 shadow-lg rounded-full  "
                                src="{{brans.resim.url}}" alt="">

                            <h6 class="text-xl font-semibold">{{brans.brans}}</h6>
                            <p class=" mt-2 mb-4 text-gray-600 text-justify">
                                {{brans.aciklama|safe}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>

            <div class="flex flex-wrap items-center mt-32">
                <div class="flex-1 w-full md:w-5/12 px-4 mr-auto ml-auto">
                    <h3 id="slogan" class=" text-3xl mb-2 font-semibold leading-normal">
                        Odaklanın ve hayallerinizden asla vazgeçmeyin...
                    </h3>
                    <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
                        Profesyonel bir yüzücü olmanın zaman, çaba ve özveri gerektirdiğini unutmayın. Profesyonel bir
                        yüzücü olmak için teknik, dayanıklılık, güç, esneklik, zihinsel dayanıklılık ve temel ilkeler
                        bilgisi gibi çeşitli yönleri kapsayan kapsamlı bir eğitimden geçmek gerekir.

                        Yüzücülerin mükemmel kardiyovasküler kondisyona ve dayanıklılığa, güçlü üst gövde ve çekirdek
                        kaslara,
                        sakatlanmayı önlemek için esnekliğe ve uzun antrenman seansları ve yarışmalar sırasında
                        odaklanmak ve motive olmak için zihinsel
                        dayanıklılığa sahip olmaları gerekir.
                    </p>
                    <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">
                        Yüzücüler genellikle bir antrenör veya eğitim programı rehberliğinde haftada altı gün, günde
                        birkaç saat antrenman yaparlar.
                        Başarılı olmak için yüzmeye erken başlamak, gerçekçi hedefler belirlemek, sağlam bir beslenme
                        planı uygulamak, iyi dinlenmek, yüzme yarışlarına katılmak, iyi bir antrenör bulmak,
                        gerekir.

                        Israr ve azimle, profesyonel bir yüzücü olma hayalinizi bizimle gerçekleştirebilirsiniz.

                    </p>
                    <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">
                        Aramıza katılmak istiyorsanız kontenjanlarımız dolmadan hemen başvurun.
                    </p>

                    <div class=" flex justify-center  pt-4 pb-4">
                        <a href="{% url 'basvuru' %}">
                            <button type="button"
                                class="basvuru_button text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">

                                Başvuru Formu
                            </button>
                        </a>
                    </div>
                </div>
                <div class="flex w-full md:w-5/12 px-4 mr-auto ml-auto">
                    <!-- Slides -->
                    <!-- Slides -->
                    <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for duyuru in duyuru_list %}
                                <li class="glide__slide">
                                    <img class="rounded-lg " src="{{duyuru.resim.url}}" alt="" />
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="glide__bullets" data-glide-el="controls[nav]">
                            {% for duyuru in duyuru_list %}
                            <button class="shadow-2xl glide__bullet" data-glide-dir="={{forloop.counter0}}"></button>
                            {% endfor %}

                        </div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
                    <script>
                        new Glide('.glide',
                            {
                                type: 'carousel',
                                autoplay: 2000,
                                perView: 1,
                                swipeThreshold: 50,
                                dragThreshold: 80,

                            }

                        ).mount()
                    </script>

                </div>





            </div>
</section>