<footer class="relative bg-gray-300 pt-8 pb-6">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
            <div class="flex flex-wrap flex-row lg:justify-between -mx-3">
                <div class="flex-shrink max-w-full w-full lg:w-2/5 px-3 lg:pr-16">
                    <div class="flex items-center mb-2">
                        <span class="text-3xl leading-normal mb-2 font-bold text-gray-100 mt-2">Fk Alpha
                            Academy</span>
                        <!-- <img src="src/img-min/logo.png" alt="LOGO"> -->
                    </div>
                    <ul class="space-x-3 mt-6 mb-6 Lg:mb-0">
                        <!--instagram-->
                        <li class="inline-block">
                            <a target="_blank" class="hover:text-gray-100" rel="noopener noreferrer"
                                href="https://www.instagram.com/fkalphaacademy/" title="Instagram">

                                <!-- <i class="fab fa-instagram fa-2x"></i> -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem"
                                    viewBox="0 0 512 512">
                                    <path fill="currentColor"
                                        d="M349.33,69.33a93.62,93.62,0,0,1,93.34,93.34V349.33a93.62,93.62,0,0,1-93.34,93.34H162.67a93.62,93.62,0,0,1-93.34-93.34V162.67a93.62,93.62,0,0,1,93.34-93.34H349.33m0-37.33H162.67C90.8,32,32,90.8,32,162.67V349.33C32,421.2,90.8,480,162.67,480H349.33C421.2,480,480,421.2,480,349.33V162.67C480,90.8,421.2,32,349.33,32Z">
                                    </path>
                                    <path fill="currentColor"
                                        d="M377.33,162.67a28,28,0,1,1,28-28A27.94,27.94,0,0,1,377.33,162.67Z">
                                    </path>
                                    <path fill="currentColor"
                                        d="M256,181.33A74.67,74.67,0,1,1,181.33,256,74.75,74.75,0,0,1,256,181.33M256,144A112,112,0,1,0,368,256,112,112,0,0,0,256,144Z">
                                    </path>
                                </svg>
                            </a>
                        </li><!--end instagram-->
                        <!--twitter-->
                        <li class="inline-block">
                            <a target="_blank" class="hover:text-gray-100" rel="noopener noreferrer"
                                href="https://wa.me/905302442670">
                                <i class="fa fa-whatsapp" style="font-size:48px;color:green"></i>
                            </a>

                        </li>
                        <!--youtube-->
                        <li class="inline-block">
                            <a target="_blank" class="hover:text-gray-100" rel="noopener noreferrer"
                                href="https://youtube.com" title="Youtube">
                                <!-- <i class="fab fa-youtube fa-2x"></i> -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem"
                                    viewBox="0 0 512 512">
                                    <path fill="currentColor"
                                        d="M508.64,148.79c0-45-33.1-81.2-74-81.2C379.24,65,322.74,64,265,64H247c-57.6,0-114.2,1-169.6,3.6-40.8,0-73.9,36.4-73.9,81.4C1,184.59-.06,220.19,0,255.79q-.15,53.4,3.4,106.9c0,45,33.1,81.5,73.9,81.5,58.2,2.7,117.9,3.9,178.6,3.8q91.2.3,178.6-3.8c40.9,0,74-36.5,74-81.5,2.4-35.7,3.5-71.3,3.4-107Q512.24,202.29,508.64,148.79ZM207,353.89V157.39l145,98.2Z">
                                    </path>
                                </svg>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Faydalı Linkler</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://www.tyf.gov.tr/">Türkiye Yüzme Federasyonu</a>
                </li>
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://www.tyf.gov.tr/ankara-il-temsilciligi/">TYF Ankara İl Temsilciliği</a>
                </li>
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://swimrank.org/">Swimrank Uygulaması</a>
                </li>
   
              </ul>
            </div>

          </div>
        </div>
      </div>
      <hr class="my-6 border-gray-400" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-gray-600 font-semibold py-1">
            <p class="d-block my-3">Copyright © Fk Alpha Academy | All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>