<main class="public-page home-page-non-member">
    <section class="hero full-width-image-bg hero-header hero-mobile-view d-sm-table d-block animate">
      <video autoplay="autoplay" loop="loop" muted="muted" id="home-video" class="d-none d-sm-block" poster="https://swimgym.com/assets/backgrounds/banner-video-cover-18f77d67e7916598c71fadaa7e9f09bbe939b4cf48e7fadd3ccc24c5a535a021.jpg" src="/media/under_above_water-8ff058ac2825b11c0e60edec70f0b2e8460d3dbcb4e07d2d24785145dd123730.mp4"></video>
  
      <div class="bg-container d-sm-none d-flex" style="background-image: url(/assets/public-pages/mobile-bg/home-8bf5da4c79f9d143df6c690e887fb4505a7df8ecd867618f457a61584413221f.jpg);">
        <div class="inner-content" aria-hidden="true">
          <div class="heading heading-xxl mb-sm">
            <span>TRAIN</span><br>
            <span>LIKE</span><br>
            <span>A PRO</span>
          </div>
          <div class="d-block d-sm-none">
            <span class="d-block mb-sm font-weight-medium"><b>Online training to improve your swimming. Train wherever you are.</b></span>
          </div>
        </div>
      </div>
  
      <div class="hero-inner">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-left section-right fadeInRight hero-desc-wrap order-2 section-header" style="margin: 0;">
              <h1 class="hero-title d-none d-sm-block">
                <span class="d-block mb-sm font-weight-medium"><b>Online training to improve your swimming. Train wherever you are.</b></span>
              </h1>
              <div class="content-top-padding-sm unorder-list-wrap with-checkmark">
                <ul>
                  <li><strong>Training plans</strong> and daily workouts</li>
                  <li>100+ <strong>instruction videos</strong></li>
                  <li>Step-by-step swimming <strong>courses</strong></li>
                  <li><strong>Workout finder</strong> and video database</li>
                  <li><strong>Get full access from <strong>€9,<sup>99</sup></strong>/month</strong></li>
                </ul>
              </div>
              <div class="content-top-padding-sm">
                <div class="btns-group">
                  <a class="btn btn-primary" href="/premium">SIGN UP</a>
                  <a class="btn btn-white anchor-link" href="#explore">Explore</a>
                </div>
              </div>
            </div>
  
            <div class="col-sm-6 section-left order-1 d-none d-sm-block">
              <header class="section-header text-sm-right text-xs-center">
                <h2 class="hero-sub-title">
                  <span class="line"><span>TRAIN</span></span>
                  <span class="line"><span>LIKE</span></span>
                  <span class="line"><span>A PRO</span></span>
                </h2>
              </header>
            </div>
          </div>
        </div>
      </div>
  
      <div class="explore-link zoomIn">
        <a class="anchor-link" href="#explore">
          Explore
          <i class="bounce">
            <svg width="28" height="28" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 404.257 404.257" style="enable-background:new 0 0 404.257 404.257;" xml:space="preserve">
              <polygon fill="#ffffff" points="386.257,114.331 202.128,252.427 18,114.331 0,138.331 202.128,289.927 404.257,138.331"></polygon>
            </svg>
          </i>
        </a>
      </div>
    </section>
  
    <section class="public-page-section bg-main" id="explore">
      <div class="container">
        <div class="row">
  
          <div class="col-md-6 section-left">
            <div id="video-url-container" data-video-url="https://vimeo.com/1034912812" class="iframe-container border-top mb-lg"><iframe frameborder="0" src="//player.vimeo.com/video/1034912812" style="width: 100%; height: 100%;"></iframe></div>
          </div>
  
          <div class="col-md-6 section-right">
            <header>
              <h2 class="heading heading-xxl">
                <small class="d-block">online swim training </small>
                THIS WEEK'S GOAL
              </h2>
            </header>
  
            <div class="description">
              <p>Each week we provide you with a new training focus to improve your swimming step-by-step. Our program helps you improve your stroke efficiency, swim better, lose weight, improve your performance or prepare you for an IRONMAN or championship.</p>
  
              <div>
                <a class="btn btn-lg btn-white" href="/thisweek">
                    THIS WEEK
  </a>            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    
  <section class="public-page-section subscribe-public bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 section-left">
          <header class="section-header text-xs-left text-md-right mb-0">
            <h3 class="heading heading-xxl text-dark" style="line-height: 0.7;">
              <small>Improve your swimming</small>
              <span class="newsletter-title heading-md">FREE VIDEOS, TIPS &amp; WORKOUTS</span>
            </h3>
          </header>
        </div>
  
        <div class="col-sm-12 col-md-6 section-right">
          <form id="newsletter-form" action="https://swimgym.us15.list-manage.com/subscribe?u=6ee5f700675e1104bf2a8c049&amp;id=22af96e8a3 " accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓" autocomplete="off">
              <div class="form-control-group">
                <input type="hidden" name="u" id="u" value="6ee5f700675e1104bf2a8c049" autocomplete="off">
                <input type="hidden" name="id" id="id" value="22af96e8a3" autocomplete="off">
                <input type="email" name="MERGE0" id="MERGE0" placeholder="EMAIL ADDRESS" class="form-item input input-default" required="required">
  
                <input type="submit" value="SUBSCRIBE »" data-disable-with="..." class="btn btn-dark btn-lg">
              </div>
  </form>      </div>
      </div>
    </div>
  </section>
  
  
    <section class="public-page-section">
      <div class="container">
        <div class="row">
          <header class="col-md-6 section-left section-header text-xs-left text-md-right">
            <h2 class="heading heading-xxl">
              <small class="d-block">become better and faster</small>
              INSTRUCTION VIDEOS
            </h2>
  
            <div class="description text-xs-left text-md-right">
              <p>Designed for swimmers and triathletes of all levels, our instructional videos and step-by-step courses help you improve your swimming. Amongst others, we offer a 10-step Freestyle Basics course, or search in our video database.</p>
              <div>
                <a class="btn btn-lg btn-primary" href="/swimming-videos">LEARN MORE</a>
              </div>
            </div>
          </header>
  
          <div class="col-md-6 section-right text-xs-left">
            <div class="iframe-container border-top-black">
              <iframe width="560" height="315" src="https://player.vimeo.com/video/362066088?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allow="autoplay; fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="public-page-section bg-white section-with-laptop">
      <div class="container">
        <div class="row flex-md-row-reverse">
          <header class="col-md-6 section-right section-header text-xs-left text-md-left">
            <h2 class="heading heading-xxl">
              <small class="d-block">improve your fitness</small>
              WORKOUTS &amp; DAILY TRAINING
            </h2>
  
            <div class="description text-xs-left">
              <p>Become a faster and stronger swimmer by following our Swim of the Day (SWOD) program. Or find the perfect body conditioning workouts in our goal specific workout collections and extensive database.</p>
              <div>
                <a class="btn btn-lg btn-primary" href="/trainings">EXPLORE</a>
              </div>
            </div>
          </header>
  
          <div class="col-md-6 text-xs-left text-md-right section-left">
            <div class="img-wrap gadget-wrap wave-bg yellow-wave-bg ">
              <img alt="" class="img-fluid" style="margin-bottom: 5px;" src="/assets/home-non-member-8aeca2baa83ecdd1c286d471b581a596cb7626a751104ce29bb8729054bfb99e.png">
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
    <section class="public-page-section bg-main section-coaches" style="padding-bottom: 0;">
      <div class="container">
        <div class="row">
          <header class="col-md-6 section-left section-header text-xs-left text-md-right">
            <h2 class="heading heading-xxl">
              <small class="d-block">prepare your race</small>
              TRIATHLON<br> TRAINING PLANS
            </h2>
  
            <div class="description text-md-right">
              <p>Prepare your triathlon with our training plans, ranging from 8 to 48 weeks. Whether you are training for your first sprint triathlon or to become an IRONMAN, we help you achieve your goals.</p>
              <div>
                <a class="btn btn-lg btn-white" href="/swimming-plans">Find a plan</a>
              </div>
            </div>
          </header>
  
          <div class="col-md-6 col-lg-6 section-right description align-self-end text-xs-right text-md-right d-none d-sm-block">
            <div class="img-wrap white-wave-bg wave-bg">
              <img alt="" class="img-fluid" src="/assets/team/home-coaches-71b8980e1ede99f83e28043aa100030e04228119e8868848cf9d92266f050922.png">
            </div>
          </div>
        </div>
      </div>
    </section>
  
      <section class="public-page-section section-with-laptop" style="background: url(/assets/public-pages/bg/lane-bg-b087ed7669a1bab62ceab181b9004cc9083eeff3db00a733f7f09dd2954b26ab.jpg) no-repeat center center; background-size: cover;">
      <div class="content-box">
        <div class="row flex-row-reverse">
          <div class="col-sm-12 col-md-6 section-right" style="color: #fff;">
            <header class="section-header text-xs-left mb-lg">
              <h2 class="heading heading-xxl mb-md">
                <small class="text-primary">ONLINE SWIM TRAINING</small>
                START TODAY
              </h2>
  
              <div class="description mb-md unorder-list-wrap with-checkmark">
                <ul>
                  <li><b>Training plans</b> to achieve your goals</li>
                  <li>Step-by-step technique <b>improvement courses</b></li>
                  <li>100+ high quality <b>instruction videos</b></li>
                  <li><b>Workout finder</b> and workout collections</li>
                </ul>
              </div>
  
              <a class="btn btn-primary btn-lg" href="/premium">SIGN UP</a>
            </header>
          </div>
  
            <div class="singup_promo-image-column">
              <div class="image-wrapper">
                <img src="/assets/start-today/advert_home_2-c6b9ffed820d715e1eaec2f9390673bdcf04ce3facf0f43ced4bf04bee55abee.png">
              </div>
            </div>
      </div>
      </div>
    </section>
  
  
  </main>