{% extends "_base_takim.html" %}
{% load account_tags %}
{% block content %}

<div class=" mb-2 bg-gray-50 justify-center text-center pt-20 shadow-2xl shadow-blue-400">

    <h2 class="pt-6 text-center  text-2xl tracking-tight font-bold text-gray-900 dark:text-white">Takimlar</h2>

</div>
<div class="flex justify-center pt-6 pb-6 ">
    <a href="{% url "sporcu_ekle" %}">
        <button type="submit"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Yeni
            Ekle</button>

    </a>
</div>
<div class="block w-full  shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-2">
                   
                </th>
                <th scope="col" class="px-2">
                    Adi Soyadi
                </th>
                <th scope="col" class="px-2">
                    Takimi
                </th>
                <th scope="col" class="px-2">
                    <span class="sr-only">Yarışlar</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for sporcu in sporcu_list %}

            <tr
                class="relative max-h-20 bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="flex p-2 items-center justify-center">
                    <img src="{{sporcu.resim.url}} " class="h-16 w-16" alt="{{sporcu.adi}} ">

                </th>
                <th scope="row" class="px-2 font-medium text-gray-900  dark:text-white">
                    {{sporcu.adi}} {{sporcu.soyadi}}
                </th>

                
                <td class="px-2">
                    {{sporcu.takim.adi}}
                </td>

                

                <td class="px-2 text-right">
                    <a href="/takim/sporcu_detail/{{sporcu.id}}"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Yarışlar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}