{% extends "_base_takim.html" %}
{% load account_tags %}
{% block content %}





<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>




<div class="pt-24">
    <div class="flex overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Branş-Mesafe
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Best Time
                    </th>

                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Guncelle</span>
                    </th>
                </tr>
            </thead>


            <tbody>


                {% for yaris in yaris_list %}

                <tr
                    class="relative max-h-20 bg-white border-b focus:bg-gray-500 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">


                    <td class="px-2 py-4 max-w-20 flex-wrap">{{yaris.brans}} {{yaris.mesafe}}</td>
                    <td class="px-2 py-4 max-w-20 flex-wrap">{{yaris.total|slice:"3:11"}} <br> {{yaris.best_tarih |slice:"0:11"}}</td>
                    <td class="px-2 py-4 max-w-20 flex-wrap">


                        <button onclick="loadChart{{forloop.counter}}()" data-modal-target="popup-modal{{forloop.counter}}" data-modal-toggle="popup-modal{{forloop.counter}}" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                            Grafik
                            </button>
                            <div id="popup-modal{{forloop.counter}}" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-md max-h-full">
                                   
                                    <div class="relative bg-slate-200 rounded-lg shadow-sm dark:bg-gray-700">

                                        <div class="p-4 md:p-5 text-center">

                                            <button data-modal-hide="popup-modal{{forloop.counter}}" type="button" 
                                            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                            {{sporcu.adi}} {{sporcu.soyadi}} <br> {{yaris.mesafe}} {{yaris.brans}} {{yaris.total|slice:"3:11"}} </button>
                                        </div>
                                        <canvas id="myChart{{forloop.counter}}" style="width:100%;max-width:700px"></canvas>

                                                <script>

                                                    
                                                    const xValues{{forloop.counter}} = {{ yaris.xValues| safe }};
                                                    const yValues{{forloop.counter}} = {{ yaris.yValues|safe }};
                                                    function loadChart{{forloop.counter}}() {
                                                        console.log('aaa')
                                                        new Chart("myChart{{forloop.counter}}", {
                                                        type: "line",
                                                        data: {
                                                            labels: xValues{{forloop.counter}},
                                                            datasets: [{
                                                                fill: false,
                                                                lineTension: 0,
                                                                backgroundColor: "rgba(0,0,255,1.0)",
                                                                borderColor: "rgba(0,0,255,0.1)",
                                                                data: yValues{{forloop.counter}}
                                                            }]
                                                        },
                                                        options: {
                                                            legend: { display: false },
                                                            scales: {   
                                                                xAxes: [{}],
                                                                yAxes: [{ ticks: { reverse: true ,  } }],
                                                            }
                                                        }
                                                    });
                                                            }
                                                  
                                                </script>

                                        <div class="p-4 md:p-5 text-center">

                          
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </td>

                </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>







    {% endblock content %}