{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<section class="bg-white dark:bg-gray-900  mt-20 "></section>
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h3 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"><br>Başvurunuz başarıyla kaydedildi.</h3>

            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Başvurunuz en kısa sürede değerlendirilecektir. <br>
                Bize zaman ayırdığınız için teşekür ederiz.</p>

        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <video class="rounded-full  " width="300" autoplay="" loop="" muted="">
                <source src="  " type="video/mp4">
            </video>
        </div>                
    </div>
</section>
{% endblock content %}